<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/page.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.page-container {padding-top: 0px;}
#pic{position: absolute; display: none;}
#pic1{ width: 400px; height: 300px; border-radius: 5px; -webkit-box-shadow: 5px 5px 5px 5px hsla(0,0%,5%,1.00); box-shadow: 5px 5px 5px 0px hsla(0,0%,5%,0.3); }
</style>
<title></title>
</head>
<body>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" onclick="dynamic_add('发布党建动态','dynamicadd.html')" href="javascript:;">
				<i class="Hui-iconfont">&#xe600;</i>
				发布党建动态</a>
		</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="10%">ID</th>
					<th width="10%">发布人</th>
					<th width="20%">标题</th>
					<th width="1%" style="display:none">内容</th>
					<th width="10%">列表展示图</th>
					<th width="10%">发布时间</th>
					<th width="5%">级别</th>
					<th width="5%">分类</th>
					<th width="5%">基层</th>
					<th width="5%">浏览数</th>
					<th width="5%">收藏数</th>
					<th width="5%">评论数</th>
					<th width="10%">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="dlist" item="cv">
				<tr class="text-c">
					<td id='dyid'>{$cv.id}</td>
					<td id='author'>{$cv.author}</td>
					<td id='title'>{$cv.title}</td>
					<td id="content" style="display:none">{$cv.content}</td>
					<td style=" text-align:left;">
							<foreach name="cv.img" item="cy">
								<a href="{$cy.imgurl}"  class="container">
									<img width="40px" height="40px"  class="picture-thumb" src="{$cy.imgurl}" border=0 onerror=this.style.display='none'>
								</a>
							</foreach>
					</td>
					<td id='addtime'>{$cv.addtime}</td>
					<td id='leve'>{$cv.leve}</td>
					<td id='type'>{$cv.type}</td>
					<td id='org'>{$cv.org}</td>
					<td id='browsenum'>{$cv.browsenum}</td>
					<td id='collectnum'>{$cv.collectnum}</td>
					<td>{$cv.commentnum}</td>
					<td class="td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="dynamic_detial('party/getContent/id/{$cv.id}','动态内容')" href="javascript:;" title="动态内容">
							<i class="Hui-iconfont">&#xe685;</i>
						</a>
						<!-- <if condition="$cv.candel eq 1"> -->
							<a style="text-decoration:none" class="ml-5" onClick="dynamic_edit('编辑','__URL__/getDynamicEditPage',this,'','510')" href="javascript:;" title="编辑">
								<i class="Hui-iconfont">&#xe6df;</i>
							</a>
							<a style="text-decoration:none" class="ml-5" onClick="count_edit('修改','count_edit.html',this,'','510')" href="javascript:;" title="修改">
								<i class="Hui-iconfont">&#xe72a;</i>
							</a>
							<a style="text-decoration:none" class="ml-5" onClick="dynamic_del(this,'{$cv.id}')" href="javascript:;" title="删除">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						<!-- </if> -->
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
	</div>
	<div>{$page}</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 0, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[1,2,3,4,5,6,7,8,9,10,11,12]}// 制定列不参与排序
	]
});
$(function(){
  $(".container").hover(function(){
      $(this).append("<p id='pic'><img src='"+this.href+"' id='pic1'></p>");
      $(".container").mousemove(function(e){
          $("#pic").css({
              "top":(e.pageY+10)+"px",
              "left":(e.pageX+20)+"px"
          }).fadeIn("fast");
          // $("#pic").fadeIn("fast");
      });
  },function(){
      $("#pic").remove();
  });
});
function showHtml(title,url){
	if (title == null || title == '') {
		title=false;
	};
	if (url == null || url == '') {
		url="404.html";
	};
}
/*删除*/
function dynamic_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '__MODULE__/Party/delDynamic',
			dataType: 'json',
			data:{"id":id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
//动态内容
function dynamic_detial(html,title){
    creatIframe(html,title);
}
/*添加动态*/
function dynamic_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*编辑*/
function dynamic_edit(title,url,obj,w,h){
	showHtml(title,url);
	if (h == null || h == '') {
		h=($(window).height() - 50);
	};
	if (w == null || w == '') {
		w=800;
	};
	var index = layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: title,
		content: url,
		success: function (layero, index) {
			// var body = layer.getChildFrame('body',index);
			var tr = $(obj).parents('tr:eq(0)');

			var author = tr.children('#author').html();
			$("#author", layero.find("iframe")[0].contentWindow.document).attr("value", author);

			var dyid = tr.children('#dyid').html();
			$("#dyid", layero.find("iframe")[0].contentWindow.document).attr("value", dyid);

			var title = tr.children('#title').html();
			$("#title", layero.find("iframe")[0].contentWindow.document).attr("value", title);

			var content = tr.children('#content').html();
			$("#content", layero.find("iframe")[0].contentWindow.document).attr("value", content);

			var addtime = tr.children('#addtime').html();
			$("#addtime", layero.find("iframe")[0].contentWindow.document).attr("value", addtime);
		}
	});
	layer.full(index);
}
/*修改*/
function count_edit(title,url,obj,w,h){
	showHtml(title,url);
	if (h == null || h == '') {
		h=($(window).height() - 50);
	};
	if (w == null || w == '') {
		w=800;
	};
	layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: title,
		content: url,
		success: function (layero, index) {
			// var body = layer.getChildFrame('body',index);
			var tr = $(obj).parents('tr:eq(0)');

			var dyid = tr.children('#dyid').html();
			$("#dyid", layero.find("iframe")[0].contentWindow.document).attr("value", dyid);

			var browsenum = tr.children('#browsenum').html();
			$("#browsenum", layero.find("iframe")[0].contentWindow.document).attr("value", browsenum);

			var collectnum = tr.children('#collectnum').html();
			$("#collectnum", layero.find("iframe")[0].contentWindow.document).attr("value", collectnum);
		}
	});
}
</script>
</body>
</html>
