<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title></title>
</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">标题:</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">展示图片上传(不传代表不改变)：</label>
      <input type='file'  name='photo' style="padding-left: 15px;">
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="edit" class="btn btn-primary radius" type="button" value="编辑内容" onclick="getEditorContent()">
			</div>
		</div>
		<div class="row cl" id="des" style="display:none">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor" type="text/plain" name="description" style="width:1024px;height:500px;"></script>
				<input type="hidden" class="input-text" value='' placeholder="" id="content" name="content">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">发布人:</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="hidden" class="input-text" value="" id="dyid" name="dyid">
      	<input type="text" class="input-text" value="" id="author" name="author">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">发布时间:</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="addtime" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="addtime" class="input-text Wdate" style="width:180px;">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">级别选择(不选择表示不改变):</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="lev">
					<option value="">==级别选择==</option>
					<option value="1">区级</option>
					<option value="2">基层</option>
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类选择(不选择表示不改变):</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="type">
					<option value="">==分类选择==</option>
					<option value="1">廉政清风</option>
					<option value="2">文化宣传</option>
					<option value="3">统一战线</option>
					<option value="4">职工之家</option>
					<option value="5">飞扬青春</option>
					<option value="6">铿锵玫瑰</option>
					<option value="7">组工堡垒</option>
					<option value="8">其他</option>
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">基层选择(不选择表示不改变):</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="orgid" id="changeP">
				</select>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--百度编辑器-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor-php/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor-php/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor-php/lang/zh-cn/zh-cn.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
var ue = UE.getEditor('editor');
function getEditorContent(){
	var content =$('#content').val();
	ue.ready(function() {
			//设置编辑器的内容
			ue.setContent(content);
	});
	$("#des").css('display','block');
}
$(function(){
	$("#form-change-password").validate({
		rules:{
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
      $(form).ajaxSubmit({
				type: 'POST',
				url: '__MODULE__/Party/EditDynamic',
				dataType: 'json',
				success:function(data){
					var index = parent.layer.getFrameIndex(window.name);
					parent.location.reload();//刷新父页面
					parent.layer.close(index);
				},
				error:function(data) {
					alert('ERROR');
				}
			});
		}
	});
});
$(function(){
	var html = [];
	$.ajax({
		type: 'POST',
		url: '__MODULE__/Party/getChangeParty',
		dataType: 'json',
		success: function(data){
			html.push('<option value="">==选择镇街级组织==</option>');
			for (var i = 0; i < data.length; i++) {
				html.push('<option value="'+data[i].id+'">'+data[i].name+'</option>');
			}
			$('#changeP').empty().append(html.join(''));
		},
		error:function(data) {
			alert('error');
		},
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
